.signin-wrapper {
  min-height: 100vh;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-card {
  width: 420px;
  background: #f3f2ff;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
}

.signin-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px;
}


.signin-logo img {
  width: 150px;
}

.signin-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 30px;
}

.signin-field {
  text-align: left;
  margin-bottom: 18px;
}

.signin-field label {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 6px;
  display: block;
}

.signin-field input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
  outline: none;
}

.signin-btn {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #6f3ff5;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.signin-btn:hover {
  background: #5a2fd6;
}

.signin-footer {
  margin-top: 20px;
  font-size: 13px;
}

.signin-footer span {
  color: #6f3ff5;
  font-weight: 600;
  cursor: pointer;
}
